body{
	margin:0;
	background-color:red;
}
ul{
	padding:0;
	margin:0;
}
header{
	background-color:#ccc;
	
	
}
h1{
	margin:0;
	display:inline-block;
	float:left;
	line-height:2em;
	
}
.container{
	width:80%;
	
	/*background-color:blue;*/
	margin:0 auto;
}

nav{
	display:inline-block;
	margin-left:100px;
	line-height:2em;
}
nav ul li{
	display:inline-block;
	margin-right:-4px;
}
nav a{
	text-decoration:none;
	color:black;
	display:block;
	padding:20px;
	transition: 1s background-color;
}
nav a:hover{
	background-color:black;
	color:#ccc;
	
	
}
.active{
	background-color:black;
	color:#ccc;
	
}
.container a{
	display:block;
}
.button{
	float:right;
	margin:15px;
	text-decoration:none;
	color:#fff;
	background-color:blue;
	padding:10px;
	border-radius:5px;
	
}
.button:hover{
	color:#fff;
	background-color:black
}
.content-container{

	margin:100px;
	
}
#Register-form{
	float:right;
	background-color:#ccc;
	border:1px solid #fff;
	border-radius:4px;
	
	padding-bottom:40px;
}
ul {
	
	list-style:none;
	margin:0;
	padding:0;
}
#Register-form li{
	
	padding:10px;
	border: 1px solid #ccc;
	border-radius:2px;
	background-color:#fff;
	margin:10px;
}
#Register-form ul {
	margin-top:40px;
	
}
input {
	outline:none;
	border:none;
	
}
#register-heading{
	padding-left:50px;
}